section
    h4 References
    p
        a(href="https://sethrobertson.github.io/GitBestPractices") https://sethrobertson.github.io/GitBestPractices
    p
        a(href="https://git-scm.com/") https://git-scm.com/
    p
        a(href="http://stackoverflow.com/") http://stackoverflow.com/
    p
        a(href="http://karma-runner.github.io/0.8/dev/git-commit-msg.html") http://karma-runner.github.io/0.8/dev/git-commit-msg.html
    p
        a(href="https://robots.thoughtbot.com/streamline-your-git-workflow-with-aliases") https://robots.thoughtbot.com/streamline-your-git-workflow-with-aliases
