section
    h4 Git Good
    h3 A (short) presentation on git sausage making, best practices, and semantic commit messages
    aside(class="notes").
section
    section
        h4 Sausage Making
    section
      div What is "sausage making"?
    aside(class="notes").
    section
      div.
          Sausage making is building features and fixes by completing micro-tasks.
          These micro-tasks take the form of commits made to a feature branch.
      aside(class="notes").
    section
        h5 Benefits of sausage making:
        ul
            li Easier dissection of branches for code review
            li Transparent history of a feature
            li Difficult to lose changes
            li Easy to rebert breaking changes
    section
        h5 Downsides of sausage making:
        ul
            li Cherry-picking is difficult
            li Assume unstable until merged (sausages aren't exactly pretty)
            li More time added to development
            li Can mislead commit detectives
            li Makes you think about what you just did :P
    section
        div.
            "But how does one sausage make?"
    section
        p(class="").
            Create a goal for your next commit.  Try not to do anything outside that
            goal.  <br><br><i>"I will add a new permission for non-admin users."</i>
        p(class="fragment").
            Clean up mistakes with reverts.  Don't sweep commits under the rug by rewriting history
        p(class="fragment").
            Commit regularly and publish every so often
        p(class="fragment").
            Experimentation is perfectly fine.  Just don't commit half-ideas.
        p(class="fragment").
            Any moving, renaming, or deleting of files should be in their own
            commit
